    html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    }

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    img{
    width: 100%;
    }

    .box{
    width: 100%;
    }

    .navbar{
    height:71px;
    width:100%;
    background: #12130D;
    padding-right: 5%;
    box-shadow: 0px 1px 10px grey;
    transition-duration: 0.6s;
    z-index:100;
    }

    .map{
    width:95%;
    margin:0 auto;
    margin-top:6%;
    text-align:center;
    }

    .map h2{
    color:#6C0008;
    }

    iframe{
    width:100%;
    height:300px;
    margin:0 auto;
    }

    .haut .navbar .collapse{
    margin-right: 1%;
    }

    .haut .navbar-nav {
    color: #fff;
    float: right;
    background-color:black;
    }

    .navbar-toggler {
    border:1.5px solid #fff;
    background-color:#12130D;;
    }

    .haut .navbar-brand{
    font-size: 29px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    margin-top: -1%;
    }

    .reservation{
    text-align:center;
    margin-top:7%;
    width:100%;
    }

    .reservation h2{
    padding-top:3%;
    }

    .frame{
    width:95%;
    margin:0 auto;
    color:#fff;
    background-color: #12130D;
    border-radius: 3px;
    border:1px solid #fff;
    }

    input{
    padding:3px;
    font-size: 17px;
    border-radius: 7px;
    text-align: center;
    width: 80%;
    height: 40px;
    margin-bottom: 3%;
    margin-top: 3%;
    }

    form{
    width:100%;
    margin: 0 auto;
    padding: 3%;
    }

    form div{
    margin: 10px;
    }

    #guest, #time{
    width: 84%;
    margin-left: 7.7%;
    }

    #fix{
    position: relative;
    }

    .ui-datepicker {
    background-color: #6C0008;
    width: 80%;
    margin-left: -10%;
    margin-top: -97%;
    font: 9pt Arial, sans-serif;
    }

    .ui-datepicker-header {
    background-color: #fff;
    color: #100A0A;
    font-weight: bold;
    }

    .ui-datepicker thead {
    color: #fff;
    }

    #boka{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: #fff;
    color: black;
    margin-top: 25px;
    margin-left: 2%;
    } 

    /*Small devices (landscape phones, 576px and up)*/ 

    @media (min-width: 576px) {
    .reservation{
    margin-top:15%;
    }
    
    }


    /* Medium devices (tablets, 768px and up) */

    @media (min-width: 768px) { 
    .reservation{
    margin-top:11%;
    }

    }
    /* Large devices (desktops, 992px and up)*/

    @media (min-width: 992px) { 

    .haut .navbar-nav{
    position:absolute;
    right:3%;
    top:13%;
    }

    .reservation{
    width:50%;
    float:left;
    margin-top:2%;
    }

    .map{
    width:47%;
    float:right;
    margin-top:2%;
    margin-right:2%;
    }

    iframe{
    height:511px;
    }

    }