html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
   }
   
   *{
       
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }

    img{
        width: 100%;
    }

    .box{
        width: 100%;
    }
    

    .top{
        height: 600px;
        width: 100%;
        background-image: url(meal.jpg);
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        filter:blur(.9);
        z-index:-1;
    }
    
    .navbar{
        height:71px;
        width:96.65%;
        position: absolute;
        top:0;
        background: #12130D;
        box-shadow: 0px 1px 10px grey;
        z-index:100;
    }

    .top .navbar-nav{
        background-color:#12130D;
        text-align:center;
    }
    
    .top .navbar .nav-link{
        color: #fff;
    }

    .navbar-toggler {
        border:1.5px solid #fff;
        background-color:#12130D;;
    }

   .top .navbar-brand{
        font-size: 29px;
        font-weight: bold;
        font-family: 'Cinzel', serif;
        margin-top: -1%;
    }

    .pub{
        height: 300px;
        position:relative;
        top:19%;
        text-align: center;
         color:#fff;
    }
    
    .pub h1 span{
        font-size:51px;
        z-index:2;
        font-family: 'Great Vibes', cursive;
    }

    .pub h1{
        margin-top: 7%;
        font-size: 47px;
    }

    .pub h5 span{
        font-weight:bold;
      height:auto;
        margin-bottom: 40%;
    }

    .pub .bouton{
         padding-top: 1%;
        margin-left:35%;
        margin-top: 40%;
          width:170px;
          height:40px;
        border:1px solid #fff;
        background-color:#12130D;
    }
    
     .pub .bouton:hover{
        font-weight:bold;
        background-color:#6C0008;
    }
    
    .pub a {
         color:#fff;
        text-decoration: none;
    }
   
    .clear{
        height: 200px;
    }
    
    .about{
    width: 100%;
    text-align: left;
    height:520px;
    }

    .about h2{
           text-align: center;
      color: #6C0008;
        margin-top:11%;
        margin-bottom: 5%;
        font-family: 'Alex Brush', cursive;
        font-size:45px;
    }
        
    .about p{
    padding: 3%;
    line-height: 1.5em;
    }

    .menu{
        width: 100%;
        height: 500px;
      text-align: center;
    }

    .menu h2{
    margin-bottom: 15%;
     color:#6C0008;
      font-family: 'Alex Brush', cursive;
      font-size:45px;
    }
    
    .menu h3{
        margin-bottom:11%;
    }

    .carousel-item img{
     z-index:-1;
    }

    .carousel-caption{
        z-index: 1;
        position:absolute;
        top:7%;
       background-color:black;
         opacity:.8;
    }

    .carousel-caption ul {
        list-style: none;
    }

    .outline{
         text-align:center;
         padding:3%;
         margin-bottom:5%;
    }

    .outline p{
          font-size:23px;
          color:#6C0008;
           padding:7%;
      }
      
    .reservation{
    width: 100%;
    text-align: center;
    height:400px;
    background-color: #12130D;
    }
    
    .reservation h2{
        margin-bottom:9%;
        color:#fff;
    }
    
    .reservation .square{
       position:relative;
       top:31%;
    }
    
    .reservation div a{
        color:#fff;
        border:2px solid #fff;
        padding:3%;
        text-decoration:none;
    }
    
    .reservation div a:hover{
        background-color:#fff;
        color:#6C0008;
        font-weight:bold;
    }
    
    .frame{
    width:95%;
    margin:0 auto;
   
    background-color: #6C0008;
    border-radius: 3px;
    border:1px solid #fff;
    }

    input{
    padding:3px;
    font-size: 17px;
    border-radius: 7px;
    text-align: center;
    width: 80%;
    height: 40px;
    margin-bottom: 3%;
    margin-top: 3%;
    }

    form{
    width:100%;
    margin: 0 auto;
    padding: 3%;
    }

    form div{
    margin: 10px;
    }

    #guest, #time{
    width: 84%;
    margin-left: 7.7%;
    }

    #fix{
        position: relative;
       
    }

    .ui-datepicker {
        background-color: #6C0008;
        width: 80%;
        margin-left: -10%;
        margin-top: -97%;
        font: 9pt Arial, sans-serif;
      }

    .ui-datepicker-header {
    background-color: #fff;
    color: #100A0A;
    font-weight: bold;
    }
    .ui-datepicker thead {
        color: #fff;
    }
    
    #boka{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: #100A0A;
    color: #fff;
    margin-top: 25px;
    margin-left: 2%;
    } 
        
    .contact{
    width: 100%;
    margin-top: 50px;
      text-align: center;
    }

   
    .contact h2{
    margin-top: 5%;
    margin-bottom:7%;
     color:#6C0008;
    font-family: 'Alex Brush', cursive;
    font-size:45px;
    }

    .contact ul{
    font-size: 15px;
    padding:5%;
    list-style: none;
     color:#6C0008;
    float: left;
    clear: both;
    position: relative;
    border:1px solid;
    border-radius:3px;
    margin-bottom:-40px;
    width:95%;
    margin-left:2.7%;
    }

    .contact ul li{
    display: inline-block;
    margin-left:15px;
    font-size: 17px;
    margin-bottom: 3%;
    }

    .contact ul li i{
    font-size: 21px;
    margin-bottom: 3%;
    }
    
     
    
/* Smaller devices (iphone 5-- 320px)*/

    @media (max-width: 320px) {
        .navbar{
        width:100%;
    }
    
       .pub{
        position:relative;
        top:15%;
    }

     .pub .bouton{
         padding-top: 1%;
        margin-left:25%;
        margin-top: 35%;
    }

    .menu{
        margin-top:23%;
        height:350px;
    }
    
    .menu h2{
        margin-bottom:7%;
    }
    
    .menu h3{
        margin-top:-3%;
        margin-bottom:5%;
    }
    }
    
    /*Small devices (landscape phones, 576px and up)*/ 


@media (min-width: 576px) {
        .navbar{
            width:97.3%;
        }

        .reservation{
               width: 90%;
               margin: 0 auto;
        }

    
        .pub h1{
            font-size:51px;
        }
        
        .pub h1 span{
            font-size:65px;
        }

        .pub .bouton{
            margin-top: 21%;
            margin-left:38%;
        }
    
        .about h2{
            left: 34%;
        }
        
        .menu{
           
            height:550px;
        }

        .reservation{
             margin-top:5%;
        }
        
        .menu h2{
            margin-bottom:3%;
        }

        .carousel-item{
            height:400px;
        }
        
    }


   
    /* Medium devices (tablets, 768px and up) */

    @media (min-width: 768px) { 
         .navbar{
        width:97.95%;
       }

        .pub {
            position:relative;
            top:11%;
        }
    
        .pub .bouton{
            margin-left:41%;
            margin-top: 19%;
        }

        .about{
            width: 90%;
            margin: 0 auto;
        }
        .about h2{
            margin-top: 11%;
            left: 37%;
        }

       .menu h2{
            margin-bottom:11%;
       }
        .contact h2{
            margin-top: 11%;
            margin-bottom:7%;
        }

        
     }

     /* Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) { 
       
        .top{
          
            width: 100%;
            background-image: url(meal.jpg);
            background-position: center 60% ;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .navbar{
            width:98.69%;
            padding-right:0;
        }
       
        .top .navbar-brand{
            font-size: 40px;
        }
        
        .top .navbar-nav{
            position: absolute;
            right: 5%;
            top:9%;
        }

        .top .navbar .nav-link{
        font-size:17px;
        background:none;
        margin:0;
        }

        .pub{
            top:17%;
        }

      .pub h1{
        margin-top:1%;
        font-size:73px;
      }

        .pub h1 span{
             font-size:83px;
        }
        
        .pub .bouton{
            margin-top: 11%;
            margin-left: 45%;
            padding-top:5px;
        }

        .menu{
            width:100%;
            height:655px;
            padding:3%;
        }
        
        .menu h2{
            margin-top: 2%;
            margin-bottom: 5%;
            font-size:70px; 
            
            width:70%;
            margin-left:17%;
            padding-right:3%;
        }
        .about{
            width:100%;
            padding:3%;
        }
       
       .outline{
           margin-bottom:0;
           padding:3%;
           width:70%;
           margin-left:15%;
       }
       
       .outline p{
           padding:3%;
       }

        .first{
        float:left;    
        }

        .reservation{
            margin-top:5%;
        }

        .text{
            padding: 0;
            margin-top: 0;
        }

        .reservation h2{
        padding: 0;
        margin-bottom: 6%;
        }

        .text p{
            margin-top: 1%;
        margin-bottom: 7%;
        padding: 0;
        }
        
        .reservation h5{
            margin-top: 9%;
            margin-bottom: 11%;
        }
        
        .reservation div a {
            padding:2%;
        }
        .frame{
            border: 1px solid #fff;
            border-radius: 3px;
        }

        form{
            background:none;
            border:none;
            
            padding-top: 3%;
        }

        #boka{
            margin-top: 21%;
            background-color: #fff;
            color: #100A0A;
        }
    
        .about h2,
        .contact h2{
            margin-top: 2%;
            padding-top: 3%;
            margin-bottom: 3%;
            font-size:70px;
        }

        .about p{
            width:50%;
            float:left;
            padding:5%;
        }

        .contact ul{
           
            padding:1%;
        }

        .contact ul li{
            margin-bottom: 2%;
        }

        
     }
     